:root {
    --pressed-button-rgb: rgb(120 120 120);
    --persistent-glow-color: rgb(220 220 220);
    --primary-stripe-rgb: #353537;
    --secondary-stripe-rgb: #2a2a31;
    --base-fog-color: #353458;
    --button-text-color: rgb(0 0 0);
    --base-text-color: rgb(240 240 240);
    --dark-background-color: #282828bf;
}

* { cursor: none !important; }

@keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
}

@keyframes bounce {
    0%, 20%, 100% {
      translate: 0% 0%;
    }
    
    10% {
      translate: 0% -12%;
    }
}

.bouncing-letters:is(:hover, :focus-visible) .modal-action-text-letter {
    animation: bounce infinite;
}

.modal-action-text-letter {
    display: inline-flex;
    position: relative;
}

html {
    overflow:visible;
}

body {
    background: linear-gradient(to right bottom, #2b2a44, #353458);
    cursor: none;
    overflow: auto;
    max-width:100vw;
    margin: 0;
    border-spacing: 0px;
    font-family: Arial, sans-serif;
}

#website {
    height: 100vh;
    overflow: auto;
    position: relative;
    z-index: 1;
}

#animationCanvas {
    height: 0%;
}

.button-style {
    position: fixed;
    border: none;
    background-color: white;
    text-decoration: none;
    border-radius: 0.75rem;
    outline: 0.3rem solid white;
    outline-offset: 0.3rem;
    overflow: hidden;
    color: black;
    font-size: 1.5rem;
}

.button-style:hover {
    background-color: var(--pressed-button-rgb);
    background-image: radial-gradient(
      rgb(255 255 255 / 0.2) 15%, 
      transparent 30%
    );
    background-position: 0% 0%;
    background-size: 10px 10px;
}

.center-class {
    text-align: center;
}

.flex-row {
    display: inline-flex;
    margin-left: 10px;
    align-items: center;
    height: 50px;
}

#images-pattern {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5%;
    translate: 0% 0%;
    height: 95%;
    width: 100%;
    overflow: hidden;
    z-index: 30;
}

.pattern-image {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 4%;
    filter: brightness(0) invert(1);
    animation: moveImages 10s linear infinite;
    z-index: 30;
}

.border-fog {
    height: 100vh;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background:
        linear-gradient(to right, var(--base-fog-color) -5%, transparent 15%),
        linear-gradient(to left, var(--base-fog-color) -5%, transparent 15%);
    position: fixed;
    z-index: 31;
}

@keyframes moveImages {
    0% {
        transform: translateX(0%); /* Position initiale */
    }
    100% {
        transform: translateX(240%); /* Déplace les images de la largeur du conteneur */
    }
}

.content-frame {
    background-color: var(--dark-background-color);
    border-radius: 1rem;
    border: 0.1rem solid var(--base-text-color 10%);
    min-width: 50%;
    min-height: 200px;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 0px var(--base-text-color);
    padding: 20px;
}

.position-change-frame {
    position: relative;
    width: 70%;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    margin-bottom: 40px;
}

.first-frame {
    margin-top: 150px;
}

/* SOURIS */

#magic-mouse-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 0;
}

.glow-point {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: var(--base-text-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

.glow-point-down {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

#persistent-glow {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--persistent-glow-color);
    border-radius: 50%;
    box-shadow: 0 0 2px 3px black;
    pointer-events: none;
    z-index: 1000;
}


/* NAVBAR */

#toggle-navbar {
    top: 40px;
    right: 30px;
    z-index: 501;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: var(--button-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar {

    position: fixed;
    z-index: 500;
    top: -155px;
    left: 0;
    width: 100%;
    height: 150px;
    transition: top 0.3s ease;
    background-color: var(--stripe-primary-rgb);
}

#stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      var(--primary-stripe-rgb) 25%,
      var(--secondary-stripe-rgb) 25%,
      var(--secondary-stripe-rgb) 50%,
      var(--primary-stripe-rgb) 50%,
      var(--primary-stripe-rgb) 75%,
      var(--secondary-stripe-rgb) 75%,
      var(--secondary-stripe-rgb) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: pan 360s linear infinite;
    border-bottom: 0.1rem solid var(--base-text-color);
    box-shadow: 0 0 2px 0px var(--base-text-color);
}

#navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#navbar li a {
    margin-top: -32px;
    margin-left: -150px;
    color: var(--button-text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
}


/* SECTIONS */

.section {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.section.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}


/* SECTION ACCUEIL */

.section-Accueil {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.title-div h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    color: var(--base-text-color);
}

.title-div h2 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: var(--base-text-color);
}

.title-div p {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--base-text-color);
    font-style: italic;
}


/* SECTION PROFIL */

.section-Profil {
    overflow-y: scroll;
}

.about-table {
    width: 80%;
    table-layout: fixed;
    margin-left: 10%;
    margin-bottom: 25px;
}

.td-image {
    width: 33%;
}

.about-table .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about-table .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.td-text {
    width: 67%;
}

.about-table  .text-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;width: 90%;

    margin-left: 5%;
    margin-right: 5%;
}

.profile-container h3 {
    color: var(--base-text-color);
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.profile-container p {
    margin: 0px;
    margin-bottom: 10px;
}

.less-width {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


/* SECTION PROJETS */

.section-Projets {
    overflow-y: scroll;
    padding-top: 20px;
}

#filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 2px 12px;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    border: none;
    background-color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    outline: 0.2rem solid white;
    outline-offset: 0.2rem;
    overflow: hidden;
    color: black;
    margin: 5px;
}

.filter-btn:hover {
    background-color: var(--pressed-button-rgb);
    background-image: radial-gradient(
      rgb(255 255 255 / 0.2) 15%, 
      transparent 30%
    );
    background-position: 0% 0%;
    background-size: 10px 10px;
}

.filter-btn.active {
    /* background-color: rgba(200 200 200); */
    outline: 0.2rem solid #007bff;
    /* outline-offset: 0.2rem; */
}

.filter-btn.active:hover {
    background-color: var(--pressed-button-rgb);
    background-image: radial-gradient(
      rgb(255 255 255 / 0.2) 15%, 
      transparent 30%
    );
    background-position: 0% 0%;
    background-size: 10px 10px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: var(--dark-background-color);
    display: flex;
    height: 360px;
    width: 300px;  
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 0.1rem solid var(--base-text-color);
    box-shadow: 0 0 2px 0px var(--base-text-color);
}

.card:hover {
    transform: scale(1.05);
    z-index: 200;
    border: 0.1rem solid rgb(120 120 120);
    box-shadow: 0 0 2px 0px var(--base-text-color);
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 200;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

.card-image {
    align-items: center;
    display: flex;
    height: 150px;
    min-height: 150px;
    width: 150px;
    justify-content: center;
    overflow-y: hidden;
    margin: auto;
    margin-top: 10px;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.card-info {
    align-items: flex-start;
    display: flex;
    margin: auto;
    gap: 10px;
}

.card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.card-categories {
    margin: 5px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.catégorie-carte {
    white-space: nowrap;
    display: inline-block;
    font-size: 1rem;
    background: transparent;
    padding: 5px 10px;
    border: 0.1rem solid rgb(120 120 120);
    border-radius: 0.8rem;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(180 180 180);
}

/* Popup container */
.popup {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--base-fog-color) -5%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: top 0.3s ease-in-out;
    z-index: 500;
}

/* Contenu de la popup */
.popup-content {
    background-color: var(--dark-background-color);
    border-radius: 2rem;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 70%;
    height: 70%;
    max-width: 90%;
    border: 0.1rem solid var(--base-text-color);
}

.popup-content h1 {
    color: var(--base-text-color);
}

#popup-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 2rem;
    color: var(--button-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.popup.show {
    top: 0;
    animation: popup-slide 0.5s ease-out;
}

.popup.hide {
    animation: popup-slide-close 0.5s ease-out forwards;
}

@keyframes popup-slide {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes popup-slide-close {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}


/* SECTION EPREUVE */

.section-Epreuve {
    overflow-y: scroll;
}

.table-picture {
    align-items: center;
    display: flex;
    height: 600px;
    min-height: 250px;
    width: 750px;
    min-width: 250px;
    justify-content: center;
    margin: auto;
}


/* SECTION CONTACT */

.section-Contact {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.contact-frame {
    height: 800px;
}

#section-Contact form {
    flex-direction: column;
    gap: 1rem;
    width: 350px;
    margin: 0 auto;
}

#section-Contact label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--base-text-color);
    text-align: left;
}

#section-Contact input,
#section-Contact textarea {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
}

#section-Contact textarea {
    height: 150px;
    resize: vertical;
}

#section-Contact button {
    padding: 12px;
    background-color: #007bff;
    color: var(--base-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

#section-Contact button:hover {
    background-color: #0056b3;
}

.contact-image {
    width:50px;
    height:50px;
}

/* FORMATAGE TEXTE */

.titre-section {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--base-text-color);
    margin-bottom: 20px;
    position: relative;
}

.titre-section::after {
    content: "";
    display: block;
    width: 10vw;
    height: 2px;
    background-color: #007bff;
    margin: 10px auto 0 auto;
}

.titre-carte {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

p {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--base-text-color);
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--base-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bold-text {
    font-weight: bold;
}